body {
    background-color: #f3cfec;
}

p {
    font-family: fantasy;
}

#special {
    color: #800080;
}

h1 {
    color: #bf22bf;
}

h2 {
    color: #8080ff;
}

h3 {
    color: #61a455;
}

h4 {
    color: #ffff00;
}

h5 {
    color: #ff8000;
}

h6 {
    color: #ff0000;
}

.myClass {
    font-style: cursive;
}

p.myClass {
    color: #4480bb;
}

#paragraphId {
    color: #ff0080;
}

#blockId {
    border: 5px dotted #fbcb84;
    background-color: #ffff80;
}

.boldCls {
    font-weight: bold;
}

.itaCls {
    font-style: monospace;
}

.upperCls {
    text-transform: uppercase;
}
